/* listas */
.product-list{margin:0; padding:0; list-style:none; display:grid; grid-template-columns:repeat(auto-fill, minmax(315px, 1fr)); gap:1.5rem;}
.product-list li{border:1px solid #f0f0f0; display:grid; transition:all .3s ease;}
.product-list li .card{padding:1.5rem; display:grid; gap:1.5rem; grid-template-columns:88px 1fr; align-items:center; border:1px solid transparent; transition:all .3s ease;}
.product-list li:hover{border:1px solid #ffd333;}
.product-list li:hover .card{border:1px solid #ffd333;}
.product-list li a .title{font-size:1.5rem; font-weight:400;}
.product-list li .content .rating{display:flex; align-items:center; gap:1.5rem; margin:1.5rem 0;}
.product-list li .content .rating .star-rating{display:flex; align-items:center; gap:.5rem;}
.product-list li .content .rating .star-rating svg{width:2rem; height:2rem; color:#b3b3b3;}
.product-list li .content .rating .star-rating svg.bi-star-fill{color:var(--green);}
.product-list li .content .rating .votes-rating{font-size:1.4rem; color:#b3b3be;}

#bestsellers, #categories, #arrivals, #blog, #products{margin-top:5rem;}

/* más vendidos */
#bestsellers .title-wrapper{grid-column:1/-1;}
#bestsellers .product-list{grid-template-columns:repeat(auto-fill, minmax(220px, 1fr));}
#bestsellers .product-list li .card{grid-template-columns:1fr; grid-template-rows:1fr auto 1fr;}
#bestsellers .product-list li .card .wp-post-image{margin-inline:auto; width:100%;}
#bestsellers .product-list li .card .price{font-size:1.5rem;}

/* Productos */
.products-section{display:grid; grid-template-columns:repeat(auto-fill, minmax(315px, 1fr)); gap:4rem;}
.products-section .product-list{gap:0;}
.products-section .product-list li:not(:last-child){border-bottom:1px solid transparent;}
.products-section .product-list li:not(:last-child):hover{border-bottom:1px solid #ffd333;}



@media screen and (min-width: 31px) and (max-width: 1199px){
    /* más vendidos */
    #bestsellers .product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons{display:flex; flex-wrap:wrap; align-items:baseline; gap:1rem;}
    #bestsellers .product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons .add_to_cart_button{
        font-size:1.3rem;
        padding:.5rem 1rem;
        font-weight:600;
        border:1px solid #ffd333;
        background-color:#ffd333;
        color:#3d464d;
        border-radius:.3rem;
    }
    #bestsellers .product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons .yith-wcwl-add-button .add_to_wishlist{color:#b3b3b3;}
    #bestsellers .product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons .yith-wcwl-add-button .add_to_wishlist i{font-size:1.6rem;}
    #bestsellers .product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons .yith-wcwl-add-button .add_to_wishlist span{font-size:0;}
}

@media(min-width:1024px){

}

@media(min-width:1200px){

}