#arrivals{margin-top:5rem;}
.arrivals-list .products{margin:0; padding:0; list-style:none; display:grid; align-items:flex-start; gap:1rem; overflow-x:scroll; padding-bottom:2rem;}
.arrivals-list .products .product{overflow:hidden; border:1px solid #f0f0f0; min-width:100%; padding:1.5rem; display:grid; place-content:flex-start; transition:all .3s ease;}
.arrivals-list .products .product:hover{border:1px solid #ffd333;}
.arrivals-list .products .product .woocommerce-LoopProduct-link{display:grid; gap:1.5rem;}
.arrivals-list .products .product .woocommerce-LoopProduct-link .attachment-woocommerce_thumbnail{width:100%; height:auto; margin-inline:auto;}
.woocommerce-loop-product__title{font-size:1.5rem; font-weight:400;}
.price{font-size:2rem; font-weight:700; color:#3d464d;}
.arrivals-list .products .product :is(.product_type_simple, .product_type_variable){
    margin-top:1.5rem;
    font-size:1.5rem;
    padding:.5rem 1.5rem;
    font-weight:600;
    background-color:#ffd333;
    color:#3d464d;
    margin-right:auto;
}

@media(min-width:768px){
    .arrivals-list .products{grid-template-columns:repeat(3, 1fr);}
    .arrivals-list .products .product{min-width:222.5px;}
}