#blog{padding:5rem 0 6rem;}
.latest-articles{display:grid; gap:3rem; grid-template-columns:repeat(auto-fill, minmax(350px, 1fr));}
.latest-articles .article{display:grid; gap:2.2rem;}
.latest-articles .article .thumbnail{object-fit:cover;}
.latest-articles .article .content{font-size:1.5rem;}

@media(min-width:768px){
    .latest-articles .article{grid-template-columns:auto 1fr;}
}