.latest-articles{display:grid; gap:3rem;}
.latest-articles .article{display:grid; gap:2.2rem;}
.latest-articles .article .thumbnail{object-fit:cover; width:100%; height:auto; aspect-ratio:16/9;}
.latest-articles .article .content{font-size:1.5rem;}
.latest-articles .article .content .title{font-size:1.6rem; font-weight:700;}
.latest-articles .article .content .publicate-date_widget{margin-bottom:1rem; color:#adadad; font-size:1.4rem;}

@media(min-width:768px){
    .latest-articles .article{grid-template-columns:auto 1fr;}
    .latest-articles .article .thumbnail{width:240px; height:161px; aspect-ratio:inherit;}
}

@media(min-width:1024px){
    .latest-articles{grid-template-columns:1fr 1fr;}
}