#catalog-products{margin:5.6rem 0 5rem;}
#catalog-products .padding-section{padding:2.4rem 0;}
.catalog-link{position:relative; display:grid; place-content:center; width:100%; height:390px; background-color:#f6f6f6; color:var(--wp--preset--color--text);}
.catalog-link:hover{color:var(--wp--preset--color--text);}
.catalog-link .tools{text-align:center; display:grid;}
.catalog-link .tools h2{font-weight:700; font-size:3rem;}
.catalog-link .tools button{
    margin-top:1.5rem;
    border:1px solid var(--wp--preset--color--yellow);
    background-color:var(--wp--preset--color--yellow);
    color:var(--color-header);
    font-weight:600;
    border-radius:.3rem;
    display:inline-flex; align-items:center; height:3.2rem; padding:0 2rem;
    margin-inline:auto;
    transition:all .3s ease;
}
.catalog-link .tools button:hover{
    border:1px solid var(--wp--preset--color--text); gap:1rem;
    background-color:var(--wp--preset--color--text);
    color:#fff;
}

@media(min-width:768px){
    .catalog-link{height:190px;}
}