#catalog-products .padding-section{padding:2.4rem 0;}
.catalog-link{position:relative; display:grid; place-content:center; width:100%; height:390px; background-color:#f6f6f6;}
.catalog-link button{
    border:1px solid #ffd333;
    background-color:#ffd333;
    color:#3d464d;
    font-weight:600;
    border-radius:.3rem;
    display:inline-flex; align-items:center; height:3.2rem; padding:0 2rem;
    transition:all .3s ease;
}
.catalog-link button:hover{
    border:1px solid #3d464d;
    background-color:#3d464d;
    color:#ffffff;
}

@media(min-width:768px){
    .catalog-link{height:170px;}
}