#featured-products{margin-top:5rem;}
.featured-products-list .products{margin:0; padding:0; list-style:none; display:flex; align-items:flex-start; gap:1rem; overflow-x:scroll; padding-bottom:2rem;}
.featured-products-list .products .product{overflow:hidden; border:1px solid #f0f0f0; min-width:100%; padding:1.5rem; display:grid; place-content:flex-start; transition:all .3s ease;}
.featured-products-list .products .product:hover{border:1px solid #ffd333;}
.featured-products-list .products .product .woocommerce-LoopProduct-link{display:grid; gap:1.5rem;}
.featured-products-list .products .product .woocommerce-LoopProduct-link .attachment-woocommerce_thumbnail{width:100%; height:auto; margin-inline:auto;}
.woocommerce-loop-product__title{font-size:1.5rem; font-weight:400;}
.price{font-size:2rem; font-weight:700; color:#3d464d;}
.featured-products-list .products .product :is(.product_type_simple, .product_type_variable){
    font-size:0;
    padding:0;
    background-color:transparent;
    transition:all .3s ease;
    color:transparent;
    margin-right:auto;
    border-radius:.2rem;
}
.featured-products-list .products .product:hover :is(.product_type_simple, .product_type_variable){
    margin-top:1.5rem;
    font-size:1.5rem;
    padding:.5rem 1.5rem;
    font-weight:600;
    background-color:#ffd333;
    color:#3d464d;
}
.featured-products-list .products .product :is(.product_type_simple:hover, .product_type_variable:hover){
    background-color:#3d464d;
    color:#ffffff;
}
@media(min-width:768px){
    .featured-products-list .products .product{min-width:222.5px;}
}