/* títulos */
main .title-wrapper{position:relative; overflow:hidden; margin-bottom:2rem;}
main .title-wrapper .title{display:inline; position:relative; font-size:2.2rem; font-weight:700;}
main .title-wrapper .title:before{position:absolute; top:50%; transform:translateY(-50%); left:calc(100% + 1.5rem); width:120rem; height:.2rem; background-color:var(--wp--preset--color--line); content:'';}

/* mapa */
iframe{width:100%; height:var(--height-map--contact); margin-bottom:1rem;}