/* secciones */
.title-wrapper{grid-column:1/-1;}

/* listas */
.product-list{margin:0; padding:0; list-style:none; /*display:grid; grid-template-columns:repeat(auto-fill, minmax(315px, 1fr)); gap:1.5rem;*/}
.product-list li{border:1px solid var(--border-product); display:grid; transition:all .3s ease;}
.product-list li .card{padding:1.5rem; display:grid; grid-template-rows:1fr auto 37px; border:1px solid transparent; transition:all .3s ease;}
.product-list li .card .wp-post-image{width:100%;}
.product-list li .card > *:not(:last-child){margin-bottom:1.5rem;}
.product-list li:hover{border:1px solid var(--yellow);}
.product-list li:hover .card{border:1px solid var(--yellow);}
.product-list li .card .content a{color:var(--color-header);}
.product-list li .card .content .title{font-size:1.5rem; font-weight:400;}
.product-list li .card .content .rating{display:flex; align-items:center; gap:1.5rem; margin:1.5rem 0;}
.product-list li .card .content .rating .star-rating{display:flex; align-items:center; gap:.5rem;}
.product-list li .card .content .rating .star-rating svg{width:2rem; height:2rem; color:var(--attenuated-icon);}
.product-list li .card .content .rating .star-rating svg.bi-star-fill{color:var(--green);}
.product-list li .card .content .rating .votes-rating{font-size:1.4rem; color:var(--attenuated-text);}
.product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons{display:flex; flex-wrap:wrap; align-items:baseline;}
.product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons .add_to_cart_button{
    padding:.5rem 1rem;
    font-weight:600;
    border:1px solid var(--yellow);
    background-color:var(--yellow);
    color:var(--color-header);
    border-radius:.3rem;
    margin-right:1rem;
    transition:all .3s ease;
}
.product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons .add_to_cart_button:hover{
    padding:.5rem 1rem;
    font-weight:600;
    border:1px solid var(--color-header);
    background-color:var(--color-header);
    color:#fff;
    border-radius:.3rem;
    margin-right:1rem;
}
.product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons .yith-wcwl-add-button .add_to_wishlist{color:var(--attenuated-text);}
.product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons .yith-wcwl-add-button .add_to_wishlist i{font-size:1.6rem; margin-right:0;}
.product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons .yith-wcwl-add-button .add_to_wishlist span{font-size:0;}
.product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons .yith-wcwl-add-to-wishlist .feedback{color:red; font-size:0!important;}
.product-list li .card .add-to-cart_add-to-wishlist--buttons .buttons .yith-wcwl-add-to-wishlist .feedback .yith-wcwl-icon{font-size:1.6rem; margin-right:0;}
.yith-wcwl-wishlistexistsbrowse a{display:none;}

/* featured products */
.featured-products-wrapper{width:100%; position:relative; overflow:hidden;}
.featured-products-list{width:700%; display:grid; grid-template-columns:repeat(7, 1fr); transition:all .3s ease;}

@media(min-width:1024px){
    .featured-products-list{display:grid; grid-template-columns:repeat(4, 1fr); gap:1.5rem;}
}