/* breadcrumb */
.woocommerce-breadcrumb{display:inline-flex; align-items:center; flex-wrap:wrap; gap:0 .7rem; color:var(--attenuated-text); padding:1.6rem 0 0;}
.woocommerce-breadcrumb a{color:var(--color-text); transition:all .3s ease;}
.woocommerce-breadcrumb a:hover{color:var(--color-links);}
main .container .section h1{font-size:3rem; color:var(--color-header); padding-bottom:3.2rem;}

/* mensaje de carrito vacio */ 
.cart-empty,
.return-to-shop{width:min(100%, 300px); margin-inline:auto; text-align:center; margin-top:2.4rem;}

/* separación con el footer */
.product-cart{margin-bottom:6rem;}

/* tabla */
.woocommerce-cart-form__contents{
    border:1px solid var(--attenuated-line);
    width:100%;
    border-collapse:separate;
    text-align:left;
}
.woocommerce-cart-form__contents :is(thead, tbody) :is(th, td){padding:9px 12px; box-sizing:border-box; text-align:right;}
.woocommerce-cart-form__contents thead{display:none;}
.woocommerce-cart-form__contents tbody tr{display:grid;}
.woocommerce-cart-form__contents tbody th{display:none;}
.woocommerce-cart-form__contents td{border-bottom:1px solid var(--attenuated-line); color:var(--color-text);}
.woocommerce-cart-form__contents td a{color:var(--color-text); transition:all .3s ease;}
.woocommerce-cart-form__contents td a:hover{color:var(--color-links);}
.woocommerce-cart-form__contents tbody tr:last-child{background-color:rgba(0, 0, 0, .025);}

/* td's */
.woocommerce-cart-form__contents tbody tr td:not(.product-thumbnail, .product-remove, .actions):before{content:attr(data-title) ": "; font-weight:700; float:left; position:relative; top:50%; transform:translateY(-50%);}
.woocommerce-cart-form__contents tbody tr td.product-remove a{font-size:2.8rem; color:var(--attenuated-text);}
.woocommerce-cart-form__contents tbody tr td.product-quantity .quantity .screen-reader-text{display:none;}
/* entrada de cantidad */
.woocommerce-cart-form__contents tbody tr td.product-quantity .quantity{display:flex; align-items:center; justify-content:space-between; width:11rem; height:3.8rem; margin-left:auto; border:1px solid var(--attenuated-text);}
.woocommerce-cart-form__contents tbody tr td.product-quantity .quantity button{width:2.4rem; height:100%; border:none; background-color:transparent; color:var(--attenuated-text); font-size:2rem;}
.woocommerce-cart-form__contents tbody tr td.product-quantity .quantity input[type=number].qty{width:5rem; height:100%; border:none; font-size:1.6rem; text-align:center;}
.woocommerce-cart-form__contents tbody tr td.product-quantity .quantity input[type=number].qty:focus{outline:none;}
/* botones */
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) button, 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) .button{
    display:inline-flex; align-items:center; justify-content:center; 
    height:3.8rem; 
    padding:0 15px;
    font-size:1.6rem;
    border-radius:2px!important; 
    background-color:var(--yellow);
    border:1px solid var(--yellow);
    color:var(--color-header)!important;
    font-weight:700;
    transition:all .3s ease;
}
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) button:hover, 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) .button:hover{background-color:var(--color-header); border:1px solid var(--color-header); color:#fff!important;}
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) input#submit.disabled, 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) input#submit:disabled, 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) input#submit:disabled[disabled],
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) a.button.disabled, 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) a.button:disabled, 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) a.button:disabled[disabled], 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) button.button.disabled, 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) button.button:disabled, 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) button.button:disabled[disabled], 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) input.button.disabled, 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) input.button:disabled, 
.product-cart :is(.coupon, .actions, .wc-proceed-to-checkout) input.button:disabled[disabled]{cursor:not-allowed; background-color:#f0f0f0; border:1px solid #f0f0f0; color:var(--attenuated-text)!important;}
/* acciones */
.actions{display:grid; gap:9px;}
.coupon{display:grid; grid-template-columns:1fr 1fr; gap:9px;}
.coupon input{font-size:16px; width:100%;}
.coupon input.input-text{border:1px solid var(--attenuated-line); padding: 0 1rem; transition:all .3s ease;}
.coupon input.input-text:focus{outline:none; border:1px solid var(--yellow);}
.coupon label{display:none;}
/* tabla de totales */
.cart-collaterals{margin-top:5rem; padding:2rem; border:1px solid var(--attenuated-line);}
.cart-collaterals .cart_totals h2{color:var(--color-header); margin-bottom: 3rem;}
/* botón finalizar compra */
.product-cart .wc-proceed-to-checkout{margin-top:2rem;}
.product-cart .wc-proceed-to-checkout .button{width: 100% !important;}

/*
.qty{width:80px;}
.actions{display:grid; gap:9px;}
.coupon{display:grid; grid-template-columns:1fr 1fr; gap:9px;}
.coupon input{font-size:16px; width:100%;}
.coupon input.input-text{border:1px solid var(--attenuated-line); padding: 0 1rem; transition:all .3s ease;}
.coupon input.input-text:focus{outline:none; border:1px solid var(--yellow);}
.coupon label{display:none;}
#shipping_method{margin:0; margin-bottom:9px; list-style:none;}
.woocommerce-shipping-totals td > *{margin-bottom:9px;}
.shipping-calculator-form{display:grid; gap:18px;}
.shipping-calculator-form input{width:100%;}
.shipping-calculator-form .button{margin-left:auto;}
.select2-resutable tbody tr td:not(.product-remove, .actions):before{content:attr(data-title) ": "; font-weight:700; float:left;}lts__option{color:#111;}
.cart-collaterals{display:grid; align-items:flex-start; gap:30px;}
.cart-collaterals > div{display:grid; gap:20px;}
.cart-collaterals > div h2{font-size:30px;}
.cross-sells{grid-template-columns:repeat(auto-fill, minmax(218px, 1fr));}

/* ajustes de los inputs, botones, etc *
article input{height:36.14px; padding:0 15px; background-color:var(--bgcolor-input); color:var(--color-text);}
article input:not([type=checkbox]),
textarea{box-shadow:none!important; border-radius:5px!important; border:1px solid var(--bcolor-input)!important;}
.product-cart button, .product-cart .button{
    display:inline-flex; align-items:center; justify-content:center; 
    height:36.14px; 
    padding:0 15px; 
    border-radius:2px!important; 
    background-color:var(--yellow);
    border:1px solid var(--yellow);
    color:var(--color-header)!important;
    margin-inline:auto;
    transition:all .3s ease;
}
.product-cart button:hover, .product-cart .button:hover{background-color:var(--color-header); border:1px solid var(--color-header); color:#fff!important;}
.product-cart input#submit.disabled, 
.product-cart input#submit:disabled, 
.product-cart input#submit:disabled[disabled],
.product-cart a.button.disabled, 
.product-cart a.button:disabled, 
.product-cart a.button:disabled[disabled], 
.product-cart button.button.disabled, 
.product-cart button.button:disabled, 
.product-cart button.button:disabled[disabled], 
.product-cart input.button.disabled, 
.product-cart input.button:disabled, 
.product-cart input.button:disabled[disabled]{cursor:not-allowed; opacity:.5;}

/* ajustes de la página *
main {background-color:var(--background-color-body)!important;}
article{width:min(100%, 1024px); margin-inline:auto;}
article .woocommerce{display:grid; gap:40px;}
/* .product-thumbnail{display:none!important;} */

/* ajustes de las tablas *
table{
    background-color:var(--bgcolor-input);
    border:1px solid var(--attenuated-line);
    width:100%;
    border-collapse:separate;
    text-align:left;
}
table :is(thead, tbody) :is(th, td){padding:9px 12px; box-sizing:border-box; text-align:right;}
table thead{display:none;}
table tbody tr{display:grid;}
table tbody th{display:none;}
table td{border-bottom:1px solid var(--attenuated-line);}
table td:not(.product-remove, .actions):before{content:attr(data-title) ": "; font-weight:700; float:left;}
table tbody tr:last-child{background-color:rgba(0, 0, 0, .025);}
.qty{width:80px;}
.actions{display:grid; gap:9px;}
.coupon{display:grid; grid-template-columns:1fr 1fr; gap:9px;}
.coupon input{font-size:16px; width:100%;}
.coupon label{display:none;}
#shipping_method{margin:0; margin-bottom:9px; list-style:none;}
.woocommerce-shipping-totals td > *{margin-bottom:9px;}
.shipping-calculator-form{display:grid; gap:18px;}
.shipping-calculator-form input{width:100%;}
.shipping-calculator-form .button{margin-left:auto;}
.select2-results__option{color:#111;}
.cart-collaterals{display:grid; align-items:flex-start; gap:30px;}
.cart-collaterals > div{display:grid; gap:20px;}
.cart-collaterals > div h2{font-size:30px;}
.cross-sells{grid-template-columns:repeat(auto-fill, minmax(218px, 1fr));}



@media(min-width:768px){
    main .container .section h1{font-size:3.6rem;}
    .product-thumbnail{display:inherit!important;}
    .product-thumbnail img{width:32px;}
    .woocommerce-cart-form__contents thead{display:inherit; border-bottom:1px solid var(--attenuated-line); background-color:rgba(0, 0, 0, .025); width:100%;}
    .woocommerce-cart-form__contents :is(thead, tbody) :is(th, td){text-align:left;}
    .woocommerce-cart-form__contents :is(thead, tbody) tr{display:grid; grid-template-columns:40px 1fr 1fr 1fr 1fr 1fr;}
    .woocommerce-cart-form__contents tbody tr:last-child{grid-template-columns:1fr;}
    .woocommerce-cart-form__contents tbody tr:last-child td{grid-template-columns:300px 1fr;}
    .woocommerce-cart-form__contents tbody tr:last-child td button{margin-left:auto;}
    .woocommerce-cart-form__contents tbody td:not(.product-remove, .actions):before{content:""; font-weight:700; float:left;}
    .cart-collaterals{grid-template-columns:1fr 300px;}
    .cart_totals{grid-column:2/-1;}
}