/* breadcrumb */
.woocommerce-breadcrumb{display:inline-flex; align-items:center; flex-wrap:wrap; gap:0 .7rem; color:var(--attenuated-text); padding:1.6rem 0 0;}
.woocommerce-breadcrumb a{color:var(--color-text); transition:all .3s ease;}
.woocommerce-breadcrumb a:hover{color:var(--color-links);}