/* breadcrumb */
.woocommerce-breadcrumb{display:inline-flex; align-items:center; flex-wrap:wrap; gap:0 .7rem; color:var(--wp--preset--color--attenuated); padding:1.6rem 0 3.2rem;}
.woocommerce-breadcrumb a{color:var(--wp--preset--color--text); transition:all .3s ease;}
.woocommerce-breadcrumb a:hover{color:var(--wp--preset--color--links);}

/* productos */
.product-list{gap:1.5rem;}

@media(min-width:1200px){
    :is(.woocommerce-shop, .woocommerce-page) .product-list{grid-template-columns:repeat(4, 1fr);}
}