/* breadcrumb */
.woocommerce-breadcrumb{display:inline-flex; align-items:center; flex-wrap:wrap; gap:0 .7rem; color:var(--attenuated-text); padding:1.6rem 0 3.2rem;}
.woocommerce-breadcrumb a{color:var(--color-text); transition:all .3s ease;}
.woocommerce-breadcrumb a:hover{color:var(--color-links);}

/* galería */
.woocommerce-product-gallery{position:relative; opacity:1; transition:opacity 0.25s ease-in-out 0s;}
.woocommerce-product-gallery .flex-viewport{border:2px solid #f2f2f2;}
.woocommerce-product-gallery__image{position:relative; overflow:hidden;}
.woocommerce img, .woocommerce-page img{height:auto; max-width:100%;}
.woocommerce-product-gallery__image .zoomImg{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 1080px;
    height: 1080px;
    border: none;
    max-width: none;
    max-height: none;
}
/* icono de zoom en la galería | mirar en icons.php también */
.woocommerce-product-gallery__trigger{position:relative; display:grid; place-content:center; width:3.5rem; height:3.5rem; font-size:0;}
.woocommerce-product-gallery__trigger:before{position:relative; content:''; display:block; width:2.2rem; height:2.2rem;}
/* miniaturas de fotos */
.flex-control-nav{padding-left:0; list-style:none; display:flex; gap:2rem; width:100%;}
.flex-control-nav li{width:10rem;}
.flex-control-nav li img{border:2px solid #f2f2f2;}
.flex-control-nav li img.flex-active{border:2px solid var(--yellow);}

/* sumario */
.product_title{color:var(--color-header); margin-bottom:2rem;}
/* calificación */
.woocommerce-product-rating{display:flex; align-items:center; gap:1.5rem;}
.star-rating{display:flex; align-items:center; gap:.5rem;}