/* breadcrumb */
.woocommerce-breadcrumb{display:inline-flex; align-items:center; flex-wrap:wrap; gap:0 .7rem; color:var(--attenuated-text); padding:1.6rem 0 3.2rem;}
.woocommerce-breadcrumb a{color:var(--color-text); transition:all .3s ease;}
.woocommerce-breadcrumb a:hover{color:var(--color-links);}

/* galería */
.woocommerce-product-gallery{border:2px solid #f2f2f2;}
.woocommerce-product-gallery__image{position:relative; overflow:hidden;}
.woocommerce img, .woocommerce-page img{height:auto; max-width:100%;}
.woocommerce-product-gallery__image .zoomImg{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 1080px;
    height: 1080px;
    border: none;
    max-width: none;
    max-height: none;
}