/* breadcrumb */
.woocommerce-breadcrumb{display:inline-flex; align-items:center; flex-wrap:wrap; gap:0 1.2rem; color:var(--wp--preset--color--attenuated); padding:1.6rem 0 0;}
.woocommerce-breadcrumb a{color:var(--wp--preset--color--text); transition:all .3s ease;}
.woocommerce-breadcrumb a:hover{color:var(--wp--preset--color--links);}

main .container .section h1{font-size:3rem; color:var(--wp--preset--color--text); padding-bottom:3.2rem;}

.shop_table{padding-left:0;}

@media screen and (min-width: 31px) and (max-width: 767px){
    /* tabla */
    table{
        width:100%;
        border-collapse:separate;
        text-align:left;
    }

    .page-template-wishlist-template .wishlist_table.mobile li{border:1px solid var(--wp--preset--color--line); margin-bottom:2rem;}
    .page-template-wishlist-template .wishlist_table.mobile li table.additional-info{margin-bottom:1.5rem; padding:.9rem 1.2rem;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper{display:grid; width:100%;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper .item-details{width:100%; color:var(--wp--preset--color--text);}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper .product-thumbnail{width:100%; max-width:100%;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper .product-thumbnail img{margin-inline:auto;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper .item-details .product-name{padding:1rem 2rem .5rem; border-bottom:1px solid var(--wp--preset--color--line);}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper .item-details .product-name h3{font-size:1.5rem; font-weight:400; text-align:center;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper .item-details .product-name h3 a{color:var(--wp--preset--color--text);}
    .page-template-wishlist-template .wishlist_table.mobile li .item-details table.item-details-table{margin-bottom:0; padding:.9rem 1.2rem;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-details table.item-details-table :is(td.label, td.value),
    .page-template-wishlist-template .wishlist_table.mobile li :is(td.label, td.value){font-size:1.5rem; padding:0;}
    .page-template-wishlist-template .wishlist_table .product-add-to-cart{padding:0 1.2rem;}
    .page-template-wishlist-template .wishlist_table .product-add-to-cart a{margin:0; display:grid!important; place-content:center; height:3.8rem; font-weight:700; background-color:var(--wp--preset--color--yellow); color:var(--wp--preset--color--text);}
    .page-template-wishlist-template .wishlist_table.mobile li .additional-info-wrapper .product-remove{padding:.9rem 1.2rem;}
    .page-template-wishlist-template .wishlist_table.mobile li .additional-info-wrapper .product-remove a{color:var(--wp--preset--color--line)}
}

@media(min-width:768px){
    main .container .section h1{font-size:3.6rem;}
    
    .page-template-wishlist-template .wishlist_table.mobile li{border:1px solid var(--wp--preset--color--line); display:flex; align-items:center; gap:2rem; padding:2rem;}
    .page-template-wishlist-template .wishlist_table.mobile li:not(:last-child){margin-bottom:2rem;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper{display:flex; align-items:center; gap:2rem;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper .product-thumbnail img{width:8rem;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper .item-details{display:flex; gap:2rem; width:inherit; align-items:center;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper .item-details .product-name h3{font-size:1.5rem; font-weight:400;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-wrapper .item-details .product-name h3 a{color:var(--wp--preset--color--text);}
    .page-template-wishlist-template .wishlist_table.mobile li .item-details table.item-details-table tr{display:grid;}
    .page-template-wishlist-template .wishlist_table.mobile li .item-details table.item-details-table td.label{width:100%; text-align:right;}
    .page-template-wishlist-template .wishlist_table.mobile li .additional-info-wrapper{display:flex; gap:2rem; align-items:center;}
    .page-template-wishlist-template .wishlist_table.mobile li .additional-info-wrapper .product-add-to-cart{width:12rem;}
    .page-template-wishlist-template .wishlist_table.mobile li table.additional-info{width:9rem;}
    .page-template-wishlist-template .wishlist_table.mobile li table.additional-info tr{display:grid;}
    .page-template-wishlist-template .wishlist_table.mobile li table.additional-info tr td.label{width:100%; text-align:right;}
}