/* archive, tags, search, etc */
.posts{display:grid; gap:5rem; align-content:flex-start;}
.post > *:not(:last-child){margin-bottom:2rem;}
.post .thumbnail{width:100%; aspect-ratio:16/9; object-fit:cover; border-radius:.8rem;}
.post .content{display:grid; gap:2rem;}
.post .post-categories{margin:0; padding:0; list-style:none;}
.post .post-categories li a{color:#2075af;}
.post .content .post-categories li a:focus{color:var(--color-link-focus);}
.post .title{font-weight:500; border-radius:.4rem;}
.post .permalink{margin-bottom:2rem;}
.post .permalink:focus{outline:none; box-shadow:var(--main-link-outline-focus); display:inline;}
.post .permalink:focus .title{display:inline;}
.post > p{color:var(--color-main);}

/* home posts */
.blog .posts{align-content:baseline; grid-template-columns:repeat(auto-fill, minmax(192px, 1fr)); gap:2rem;}
.blog .posts .home-post{position:relative; overflow:hidden; border-radius:.8rem; background-color:var(--background-card);}
.blog .posts .home-post .home-post-content{position:relative; width:100%; height:100%; background:var(--background-gradient); padding:1rem; display:grid; align-items:flex-end;}
.blog .posts .home-post .home-post-content .post-categories{margin:0; padding:0; list-style:none; }
.blog .posts .home-post .home-post-content .post-categories li a{color:#fff; font-size:1rem; padding:.25rem .5rem; border-radius:.3rem;}
.blog .posts .home-post .home-post-content .permalink{color:#fff;}
.blog .posts .home-post .home-post-content .permalink .title{font-size:1.6rem; display:inline;}
.blog .posts .home-post .home-post-content .permalink:focus{outline:none; box-shadow:var(--main-link-outline-focus); display:inline;}
.blog .posts .home-post .home-post-content div > p{font-size:1rem; color:rgba(255,255,255,.75);}
.blog .posts .home-post .thumbnail{position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover;}

@media(min-width:768px){
    /* archive, tags, search, etc */
    .post .thumbnail{margin-right:2rem; margin-bottom:0; float:left; max-width:300px;}

    /* home posts */
    .blog .posts{grid-template-columns:repeat(3, 1fr); grid-template-rows:auto 120px auto auto auto auto 120px auto;}
    .blog .posts :is(:nth-child(1),:nth-child(10)){grid-column:span 2; grid-row:span 2;}
    .blog .posts :is(:nth-child(1),:nth-child(10)) .home-post-content .post-categories li a{font-size:1.6rem;}
    .blog .posts :is(:nth-child(1),:nth-child(10)) .home-post-content .permalink .title{font-size:2.2rem;}
    .blog .posts :is(:nth-child(1),:nth-child(10)) .home-post-content div > p{font-size:1.6rem;}
    .blog .posts :is(:nth-child(3),:nth-child(4),:nth-child(11)){grid-row:span 2;}
    .blog .posts :is(:nth-child(6),:nth-child(7)){grid-column:span 2;}
    .blog .posts :is(:nth-child(2),:nth-child(5),:nth-child(8),:nth-child(9),:nth-child(12),:nth-child(13)) .home-post-content div > p{display:none;}
    .blog .posts :is(:nth-child(1),:nth-child(10)) .home-post-content .post-categories li a{padding:.5rem 1rem;}
}