.error404 .content-section{text-align:center;}
.error404 .content-section h1{margin:4rem 0 3.2rem; font-size:5rem; color:var(--attenuated-text);}
.error404 .content-section h2{margin-bottom:3rem; font-size:3.6rem; color:var(--color-header);}