/* formularios */
input[type=text],
input[type=email],
input[type=tel],
textarea{border:1px solid var(--border-color-input); background-color:var(--background-color-input); font-family:var(--wp--preset--font-family--system-font); font-size:1.7rem; color:var(--color-text); width:100%; height:4rem; padding:0 1rem; border-radius:.4rem; transition:all .3s ease-out;}
textarea{padding:1rem; height:auto;}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
textarea::placeholder{font-size:1.7rem; font-family:var(--wp--preset--font-family--system-font); transition:all .25s ease;}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus{outline:none; border:1px solid var(--color-link-focus); box-shadow:var(--box-shadow-input-focus);}
input[type=submit],
button.single_add_to_cart_button{
    position:relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    text-transform:lowercase;
    padding: 1.5rem 0.5rem 0.5rem 3.5rem;
    border-radius: 0.5rem;
    border: 1px solid #007ff0;
    background-color: #007ff0;
    color: #fff;
    font-size: 1.6rem;
    font-family: var(--wp--preset--font-family--system-font);
    box-shadow:var(--button-shadow);
    transition: all .3s ease;
}
input[type=submit]:hover,
button.single_add_to_cart_button:hover{filter: brightness(1.2);}
input[type=submit]:active:hover,
button.single_add_to_cart_button:active:hover{filter:brightness(1);}
input[type=submit]:active,
button.single_add_to_cart_button:active{box-shadow:rgba(0,0,0,.5) 0 3px 5px inset; transform: translateY(2px); border:1px solid rgba(0,0,0,.25);}

/* formulario de cantidad en producto */
.quantity{display:flex; align-items:center;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none; margin:0;}
input[type=number]{-moz-appearance:textfield;}
.quantity{display:flex; justify-content:center;}
#input-qty{width:4.1rem; height:4.1rem; border:none; border-radius:0; border-bottom:3px solid transparent; background-color:transparent; color:var(--color-main); padding:0 1rem; margin:0 .7rem; text-align:right; transition:all .3s ease;}
#input-qty:focus{outline:none; border-bottom:3px solid var(--color-link-focus);}
#button-less,
#button-plus{
    display:grid; place-content:center; 
    width:4.1rem; height:4.1rem;
    font-size:2rem;
    border:1px solid var(--border-color-input);
    box-shadow:var(--button-shadow); 
    background-color:#f1f1f1; 
    color:var(--color-main); 
    border-radius:.3rem;
    transition:all .3s ease;
}
#button-less:hover,
#button-plus:hover{filter: brightness(1.2);}
#button-less:active,
#button-plus:active{box-shadow:rgba(0,0,0,.5) 0 3px 5px inset; transform: translateY(2px); border:1px solid rgba(0,0,0,.25);}
#button-less:active:hover,
#button-plus:active:hover{filter:brightness(1);}
#button-less:focus, 
#button-plus:focus{outline:none;}

/* contact-form 7 */
.wpcf7-form{position:relative; display:grid; gap:1rem;}
.wpcf7-form p:has(label) label:has(span){display:grid; gap:.5rem;}
.wpcf7 form .wpcf7-response-output{margin: 0; border-radius:0.4rem; padding:1rem; background-color:#ffb900; color:#000;}

/* ajustes a comentarios */
#commentform > *:not(:last-child){margin-bottom:1rem;}
.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url{display:grid; gap:.5rem;}