/* breadcrumbs */
.breadcrumbs{display:inline-flex; align-items:center; flex-wrap:wrap; gap:0 1.2rem; color:var(--wp--preset--color--attenuated); fill:var(--wp--preset--color--attenuated); padding-top:1.6rem}
.breadcrumbs a{color:var(--wp--preset--color--text); transition:all .3s ease;}
.breadcrumbs a:hover{color:var(--wp--preset--color--links);}

/* título */
main .content-header .title-wrapper{padding:.6rem 0 3.2rem;}
main .content-header .title-wrapper h1{font-size:var(--font-size--titles-page);}

/* contenido */
.page .border-section{border:2px solid var(--wp--preset--color--line);}
.page main section.content{padding:var(--padding-content--page);}
.page main section.content .post-thumbnail{width:100%; margin-bottom:var(--margin-bottom-post-thumbnail--single);}
.page main section.content a{text-decoration:none; transition:all .3s ease;}
.page main section.content a:hover{text-decoration:underline;}
.page main section.content p{line-height:1.625; margin-bottom:1.5rem; font-size:1.6rem;}
.page main section.content img{transition:all.3s ease;}
.page main section.content img:hover{filter:brightness(1.2);}
.page main section.content blockquote{margin:var(--margin-blockquote);}
.page main section.content blockquote p:first-child{ font-size:1.8rem; font-style:italic;}
.page main section.content blockquote p:last-child{font-size:1.6rem; color:var(--wp--preset--color--attenuated); margin:0; font-style:normal;}
.page main section.content h2{margin:var(--margin-h3--single); font-size:3.2rem;}
.page main section.content h3{margin:var(--margin-h3--single); font-size:2.8rem;}
.page main section.content figure{margin:4rem 0;}
.page main section.content figure figcaption{margin-top:2rem; color:var(--wp--preset--color--attenuated); text-align:center;}
.page main section.content hr{overflow:inherit; position:relative; width:4px; height:4px; border-radius:2px; border:none; background:#ccc; margin:4rem auto;}
.page main section.content hr:before, 
.page main section.content hr:after{position:absolute; content:''; display:block; width:4px; height:4px; border-radius:2px; background:#ccc;}
.page main section.content hr:before{right:-3rem;}
.page main section.content hr:after{left:-3rem;}
.page main section.content :is(ul, ol){margin:var(--margin-lists--single);}
.page main section.content :is(ul, ol) li{margin-bottom:1.12rem; font-size:1.6rem; line-height:1.625;}