/* navegación de páginas */
.navigation.pagination .screen-reader-text{display:none;}
.navigation.pagination{display:grid; grid-gap:3rem; text-align:center; grid-column:1/-1; margin-top:4rem;}
.woocommerce-pagination{grid-column:1/-1; margin-top:4rem;}
.navigation.pagination .nav-links,
.woocommerce-pagination .page-numbers{display:flex; gap:.5rem; justify-content:center;}
.navigation.pagination .nav-links .page-numbers,
.woocommerce-pagination .page-numbers .page-numbers{display:grid; place-content:center; font-weight:500; width:2.9rem; height:3.3rem; color:var(--wp--preset--color--text); box-sizing:border-box; border-radius:.3rem; text-decoration:none; transition:all .3s ease;}
.navigation.pagination .nav-links .page-numbers.current,
.woocommerce-pagination .page-numbers .page-numbers.current{background-color:var(--wp--preset--color--yellow); color:var(--wp--preset--color--text);}
.navigation.pagination .nav-links .page-numbers.current:hover,
.woocommerce-pagination .page-numbers .page-numbers.current:hover{color:var(--wp--preset--color--text);}
.navigation.pagination .nav-links .page-numbers:hover,
.woocommerce-pagination .page-numbers .page-numbers:hover{background-color:var(--wp--preset--color--line);}
:is(.navigation.pagination .nav-links, .woocommerce-pagination .page-numbers) :is(.page-numbers.prev, .page-numbers.next){fill:var(--wp--preset--color--text);}
:is(.navigation.pagination .nav-links, .woocommerce-pagination .page-numbers) :is(.page-numbers.prev, .page-numbers.next):hover{background-color:var(--wp--preset--color--line);}

:is(.navigation.pagination, .woocommerce-pagination) a:focus{box-shadow:none;}