/* títulos */
.title-wrapper{position:relative; border-bottom:1px solid var(--line-color); margin-bottom:2rem;}
.title-wrapper .title{display:inline; position:relative;}
.title-wrapper .title:before{position:absolute; bottom:-4px; left:0; width:100%; height:3px; background-color:var(--color-main); content:'';}
/* excepciones */
 .posts .title-wrapper{margin-bottom:0; grid-column:1/-1;}

/* loop de artículos */
:is(.archive,.search,.home,.blog,.post-template-default) :is(.posts-wrapper,.title-section .title,.content-section,.comments-section){display:grid; gap:5rem;}

/* sidebar */
aside{display:grid; gap:5rem; align-content:baseline;}
aside ul li{position:relative; display:flex; align-items:center; height:4rem;}
aside ul li:not(:last-child){border-bottom:1px solid var(--line-color);}
aside ul li a{display:inline-flex; align-items:center; gap:.7rem;}

/* contacto & 404 */
#contact-group{position:relative; overflow:hidden; color:#fff;}
#error404-group{position:relative; overflow:hidden;}
:is(#error404-group, #contact-group) .contact-section,
:is(#error404-group, #contact-group) .contact-section .sites-and-form,
#review_form_wrapper{display:grid; gap:5rem;}
:is(#error404-group, #contact-group) .contact-section .sites-and-form :is(.services-pictures,.message){position:relative;}
#contact-group .contact-section .sites-and-form .services-pictures figure{position:relative; width:100%; border-radius:.8rem; overflow:hidden;}
#contact-group .contact-section .sites-and-form .services-pictures figure:nth-child(2){position:relative; bottom:1rem; width:80%; float:right; box-shadow:var(--box-shadow-picure); z-index:2;}
#contact-group .contact-section .sites-and-form .services-pictures figure img{width:100%;}
#contact-group .contact-section .sites-and-form .services-pictures figure figcaption{position:absolute; bottom:.2rem; left:.2rem; padding:.5rem 1rem; border-radius:.6rem;}
#contact-group .contact-section .sites-and-form .services-pictures figure:nth-child(1) figcaption{top:0; bottom:inherit;}
#contact-group .contact-section .sites-and-form .services-pictures figure:nth-child(3){width:80%; position:relative; bottom:3rem;}
.wc-tabs_wrapper{position:relative; z-index:2;}

@media(min-width:768px){
    /* contacto & 404 */
    :is(#error404-group,#contact-group) .contact-section .sites-and-form,
    #review_form_wrapper{grid-template-columns:1fr 1fr; gap:0 5rem;}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    aside{grid-template-columns:1fr 1fr;}
}

@media(min-width:1024px){
    /* loop de artículos */
    :is(.archive,.search,.home,.blog,.post-template-default) :is(.posts-wrapper,.title-section .title,.content-section,.comments-section),
    #review_form_wrapper{grid-template-columns:1fr 330px; gap:0 7.5rem;}

    /* contacto & 404 */
    :is(#error404-group,#contact-group) .contact-section{grid-template-columns:1fr 250px; gap:0 5rem;}
    :is(#error404-group,#contact-group) .contact-section .sites-and-form{grid-template-columns:1fr 342px; gap:0 5rem;}
}