.single-product main .main-content{display:grid;}

.single-product main .container.container-data-product{position:relative; overflow:hidden;}
.single-product main .container .section.data-product{display:grid; gap:4rem; padding:4rem 0;}
.woocommerce-notices-wrapper{background-color:#f0faf5; color:#367c5c;}
.woocommerce-message{width:min(100% - 4rem, 1096px); margin-inline:auto; padding:2rem 0;}
.woocommerce-message a.button.wc-forward{padding:1rem 2rem; background-color:#367c5c; color:#fff; text-decoration:none; border-radius:.4rem; margin-right:1rem;}
.woocommerce-breadcrumb{padding:1.6rem 0 2.4rem 0; display:inline-flex; flex-wrap:wrap; gap:0 1.5rem; color:#b1b1b1;}
.woocommerce-breadcrumb a{color:var(--color-body);}
.woocommerce-breadcrumb a:hover{color:var(--blue);}
/* galería */
.woocommerce-product-gallery{position:relative;}
.woocommerce-product-gallery__image{box-shadow:0 0 0 2px #f2f2f2 inset;}
.wp-post-image{width:100%; height:auto;}
    /* cinta de oferta */
    .onsale{position:absolute; background-color:red; color:#fff; left:-40px; top:23px; padding:.5rem 5rem; transform:rotate(-45deg); box-shadow:var(--box-shadow-onsale); z-index:2;}
    /* botón zoom */
    .woocommerce-product-gallery__trigger{position:absolute; display:grid; place-content:center; width:4rem; height:4rem; background-color:var(--background-color-title-section); top:1rem; right:1rem; z-index:1;}
    .woocommerce-product-gallery__trigger:before{position:absolute; padding:8.5px; display:inline-block; top:50%; left:50%; transform:translate(-50%, -50%); background-color:var(--background-color-title-section); border:2px solid var(--background-color-title-section);}
    /* miniaturas */
    .flex-control-nav{order:1; margin:2rem 0 0 0; padding:0; list-style:none; display:flex; gap:2rem; align-content:flex-start;}
    .flex-control-nav li{border-radius:.4rem; overflow:hidden; display:flex;}
    .flex-control-nav li img{width:5rem;}
    .flex-control-thumbs li img{opacity:.5; aspect-ratio:1/1; object-fit:cover; transition:all .25s ease;}
    .flex-control-thumbs li img:hover{opacity:1;}
    .flex-control-thumbs li img.flex-active{opacity:1;}
/* sumario */
.product-summary > *:not(:last-child){margin-bottom:2rem;}
    
    /* calificación */
    .woocommerce-product-rating{display:flex; align-items:center; gap:2rem;}
        /* calificación con estrellas */
        .star-rating{display:flex; gap:.7rem;}
        .star-rating svg{color:gold;}
        .star-rating{display:flex;}
        /**/
        .woocommerce-review-link{text-decoration:none;}
    
    /* precio */
    .price del{opacity:.25; margin-right:.7rem;}
    .price ins{text-decoration:none; font-weight:bold;}

    /* agregar al carrito */
    .variations_form.cart{display:grid; justify-content:center;}
    .cart{display:inline-flex; align-items:center; gap:1rem;}
    .woocommerce-variation-add-to-cart{display:flex; gap:2rem;}
        

/* container aside product */
.container-aside-product{background-image:var(--background-forms); padding:3rem 0;}
        /* tabs de contenido extra */
        .tabs.wc-tabs{margin:0; padding:0; list-style:none; display:flex; align-items:center; justify-content:center;}
        .tabs.wc-tabs a{display:flex; align-items:center; padding:0 4.8rem; height:6.8rem; font-size:2rem; font-weight:700; color:#3d464d;}
        .tabs.wc-tabs a:hover{background-color:#f2f2f2; border-bottom:1px solid #3d464d; color:#3d464d;}
        /* descripción del producto */
        .woocommerce-Tabs-panel--description > *{line-height:1.7;}
        .woocommerce-Tabs-panel--description > *:not(:last-child){margin-bottom:1.7rem;}

/* estrellas */
.woocommerce p.stars a{font-size:0; display:inline-flex;}
.woocommerce p.stars a:not(:last-child){margin-right:.7rem;}
.woocommerce p.stars a:before{position:relative; padding:8.5px; display:inline-block; transition:all .3s ease;}
.woocommerce p.stars a:focus{box-shadow:none;}

/* tabs */
.woocommerce-Tabs-panel{border:2px solid #f0f0f0; padding:2.4rem; border-radius:.2rem;}
.wc-tabs_wrapper{display:grid; gap:3rem;}

/* productos relacionados */
.related.products{display:grid; gap:2rem;}
.related.products h2{font-weight:700;}
.related.products .products{margin:0; padding:0; list-style:none; display:flex; align-items:flex-start; gap:1.5rem; overflow-x:scroll; padding-bottom:2rem;}
.related.products .products li{box-shadow:0 0 0 1px #ededed inset; padding:1rem; min-width:100%;}
.related.products .products li a{display:grid; margin-bottom:1rem;}
.related.products .products li a > *:not(:last-child){margin-bottom:1rem;}
.related.products .products li a .woocommerce-loop-product__title{font-size:1.5rem; font-weight:400; color:#3d464d;}
.related.products .products li a img{width:70%; height:auto; margin-inline:auto; padding-top:1rem;}
.related.products .products li a:last-child{margin-bottom:1rem;}
.related.products .products li :is(.product_type_simple, .product_type_variable){display:inline-flex; align-items:center; height:2.6rem; padding:0 1rem; background-color:#ffd333; border-radius:.2rem; border:1px solid #ffd333; color:#3d464d; font-size:1.3rem; font-weight:700; text-transform:capitalize;}
@media(min-width:768px){
    /* datos del producto */
    .single-product main .container .section.data-product{grid-template-columns:1fr 1fr;}

    /* productos relacionados */
    .related.products .products li{min-width:222px;}

}