.single-product main .main-content{display:grid;}

.single-product main .container.container-data-product{position:relative; overflow:hidden;}
.single-product main .container .section.data-product{display:grid; gap:4rem; padding:4rem 0;}
.woocommerce-notices-wrapper{background-color:#f0faf5; color:#367c5c;}
.woocommerce-message{width:min(100% - 4rem, 1096px); margin-inline:auto; padding:2rem 0;}
.woocommerce-message a.button.wc-forward{padding:1rem 2rem; background-color:#367c5c; color:#fff; text-decoration:none; border-radius:.4rem; margin-right:1rem;}

/* galería */
.woocommerce-product-gallery{position:relative;}
    /* cinta de oferta */
    .onsale{position:absolute; background-color:red; color:#fff; left:-40px; top:23px; padding:.5rem 5rem; transform:rotate(-45deg); box-shadow:var(--box-shadow-onsale); z-index:2;}
    /* botón zoom */
    .woocommerce-product-gallery__trigger{position:absolute; display:grid; place-content:center; width:4rem; height:4rem; background-color:var(--background-color-title-section); top:1rem; right:1rem; z-index:1;}
    .woocommerce-product-gallery__trigger:before{position:absolute; padding:8.5px; display:inline-block; top:50%; left:50%; transform:translate(-50%, -50%); background-color:var(--background-color-title-section); border:2px solid var(--background-color-title-section);}
    /* miniaturas */
    .flex-control-nav{order:1; margin:2rem 0 0 0; padding:0; list-style:none; display:flex; gap:2rem; align-content:flex-start;}
    .flex-control-nav li{border-radius:.4rem; overflow:hidden; display:flex;}
    .flex-control-nav li img{width:5rem;}
    .flex-control-thumbs li img{opacity:.5; aspect-ratio:1/1; object-fit:cover; transition:all .25s ease;}
    .flex-control-thumbs li img:hover{opacity:1;}
    .flex-control-thumbs li img.flex-active{opacity:1;}
/* sumario */
.product-summary > *:not(:last-child){margin-bottom:2rem;}
    
    /* calificación */
    .woocommerce-product-rating{display:flex; align-items:center; gap:2rem;}
        /* calificación con estrellas */
        .star-rating{display:flex; gap:.7rem;}
        .star-rating svg{color:gold;}
        .star-rating{display:flex;}
        /**/
        .woocommerce-review-link{text-decoration:none;}
    
    /* precio */
    .price del{opacity:.25; margin-right:.7rem;}
    .price ins{text-decoration:none; font-weight:bold;}

    /* agregar al carrito */
    .variations_form.cart{display:grid; justify-content:center;}
    .cart{display:inline-flex; align-items:center; gap:2rem;}
    .woocommerce-variation-add-to-cart{display:flex; gap:2rem;}
        

/* container aside product */
.container-aside-product{background-image:var(--background-forms); padding:3rem 0;}
        /* tabs de contenido extra */
        .tabs.wc-tabs{margin:0; padding:0; list-style:none; display:flex; align-items:center;}
        /* descripción del producto */
        .woocommerce-Tabs-panel--description > *{line-height:1.7;}
        .woocommerce-Tabs-panel--description > *:not(:last-child){margin-bottom:1.7rem;}

/* estrellas */
.woocommerce p.stars a{font-size:0; display:inline-flex;}
.woocommerce p.stars a:not(:last-child){margin-right:.7rem;}
.woocommerce p.stars a:before{position:relative; padding:8.5px; display:inline-block; transition:all .3s ease;}
.woocommerce p.stars a:focus{box-shadow:none;}

@media(min-width:768px){
    /* datos del producto */
    .single-product main .container .section.data-product{grid-template-columns:1fr 1fr;}
}