/* cabecera */
.post-template-default main{padding-top:0;}
.title-section-wrapper{position:relative; padding-top:6rem; color:#fff;}
.background-blur{position:absolute; top:0; left:0; right:0; bottom:0;}
.title-section{position:relative;}
.title-section > *:not(:last-child){margin-bottom:2rem;}

/* títulos */
.single-post .content > *:not(:last-child){margin-bottom:2rem;}
.single-post .content > .title-wrapper{margin-top:4rem; margin-bottom:3rem;}
/* tarjetas */
.single-post .content .card{position:relative; background-color:var(--background-card); padding:1rem 0; border-radius:.8rem; box-shadow:var(--card-shadow);}
.single-post .content .card:after{position:absolute; width:16px; height:16px; top:1rem; right:1rem;}
.single-post .content .card > *:not(ul,ol){max-width:100%; padding:0 1rem;}
.single-post .content .card > *:not(:last-child){margin-bottom:2rem;}
.single-post .content .card .title-wrapper{border-bottom:1px solid var(--background-note);}
.single-post .content .card .title-wrapper .title{font-weight:600;}
.single-post .content .card ul{padding:0 2.4rem;}
.single-post .content .card .note-wrapper{padding:0 1rem;}
.single-post .content .card .note{position:relative; padding:1rem; background-color:var(--background-note); border-radius:.4rem; box-shadow:rgba(0,0,0,.15) 0 2px 4px inset;}
.single-post .content .card > .wp-block-katex-display-block > .katex-display{display:flex; justify-content:center; margin-bottom:4rem;}
.single-post .content .card > .wp-block-katex-display-block > .katex-display > .katex{background-color:var(--background-note); padding:1rem; border-radius:.6rem;}
.single-post .content .card .wp-block-table{margin-top:2rem; margin-bottom:2rem;}
.single-post .content .card .wp-block-table:last-child{margin-bottom:0;}
.single-post .content .card tbody tr:nth-child(odd) td:is(:first-child,:last-child){background-color:var(--background-note);}
.single-post .content .card tbody td .katex-display{margin:0;}
.single-post .content .card tbody td .katex-display > .katex{text-align:left;}


/* notas */
.single-post .content > .note{position:relative; padding:1rem; background-color:var(--background-note); box-shadow:var(--note-shadow); border-radius:.8rem;}
.single-post .content .note:after{position:absolute; width:16px; height:16px; top:1rem; right:1rem;}
/* código */
.single-post .content .wp-block-code > code{position:relative; padding:1rem; border-radius:.8rem; background-color:var(--background-card); box-shadow:var(--card-shadow);}
.single-post .content .wp-block-code > code:after{position:absolute; width:16px; height:16px; top:1rem; right:1rem;}
/* listas */
.single-post .content ul{margin:0; padding-left:1.4rem;}
/* tablas */
.single-post .content tbody td{border:none; font-size:1.4rem;}
.single-post .content .card tbody td{border:none; font-size:1.6rem;}
.single-post .content tbody tr{border-radius:.8rem;}
.single-post .content tbody tr:nth-child(odd) td{background-color:var(--background-card);}

.single-post .content tbody td:nth-child(1){font-weight:600;}
.single-post .content .wp-block-table{display:grid; margin-top:3rem; margin-bottom:4rem;}
/* citas */
.single-post .content .wp-block-quote{margin-bottom:3rem;}
/* preguntas y respuestas */
.single-post .content .question{position:relative; border-radius:.8rem; background-color:var(--background-card); box-shadow:var(--card-shadow); overflow:hidden;}
.single-post .content .question:after{position:absolute; width:16px; height:16px; top:1rem; right:1rem;}
.single-post .content .question p{padding:1rem;}
.single-post .content .question > :nth-child(1){background:var(--linear-gradient-question); font-size:1.4rem; font-weight:300;}
.single-post .content .question > :nth-child(2){color:var(--color-answer);}
.single-post .content .question > ol{padding:1rem 1rem 1rem 2.6rem; margin:0;}
.single-post .content .question > ol > li:not(:last-child){margin-bottom:1rem;}
.single-post .content .question > ol > li > ul{font-size:1.4rem; margin-top:1rem;}
.single-post .content .question > ol > li > ul > li:not(:last-child){margin-bottom:.7rem;}
.single-post .content .question .function{display:inline-flex; flex-wrap:wrap; align-items:baseline; width:100%; background:var(--linear-gradient-question);}
.single-post .content .question .function .wp-block-katex-display-block .katex-display{color:var(--color-main); padding:0;}
.single-post .content .question .function p:last-child{padding-left:0;}
.single-post .content .question .wp-block-katex-display-block .katex-display{padding:0 1rem; color:var(--color-answer);}
.single-post .content .question .wp-block-katex-display-block .katex-display > .katex{text-align:left;}
/* KaTeX */
.single-post .content > .wp-block-katex-display-block > .katex-display{margin-bottom:4rem;}

/* ajustes a wordpress */
.has-global-padding{padding-right:0; padding-left:0;}
/* ancho ajustado al máximo */
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:100%;}
/* código */
.wp-block-code{margin:0;}
.wp-block-code code{margin:0; overflow-y:hidden; overflow-wrap:inherit;}
.comments{position:relative;}
/* citas */
.wp-block-quote{position:relative; margin-left:0; margin-right:0; padding:1rem; border-radius:.8rem; background-color:var(--background-card); box-shadow:var(--card-shadow);}
.wp-block-quote:after{position:absolute; content:"\201D"; font-family:auto; font-size:4rem; top:-.5rem; right:.5rem;}
/* imágenes */
.wp-block-image.aligncenter{margin-inline:auto;}
.wp-block-image{position:relative;}
.wp-block-image:after{position:absolute; width:16px; height:16px; top:1rem; right:1rem;}
.wp-block-image img{border-radius:.8rem; border-bottom:2px solid rgba(0,0,0,0.14); box-shadow:var(--picture-shadow); background-color:var(--background-card);}
.wp-block-image figcaption{margin-top:.8rem; margin-bottom:0; font-size:1.4rem;}
/* tablas */
.wp-block-table .wp-element-caption{order:1; margin:.5rem 0; text-align:center; font-weight:600; font-size:var(--wp--preset--font-size--x-large);}
.wp-block-table table{order:2;}
/* function */
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){margin-left:0!important; margin-right:0!important;}

@media screen and (min-width: 31px) and (max-width: 1023px){
    .wp-block-image img{width:100%;}
    .single-post .content tbody tr{display:grid;}
    .single-post .content tbody tr:nth-child(odd) td:first-child{border-radius:.8rem .8rem 0 0;}
    .single-post .content .card tbody tr:nth-child(odd) td:last-child{border-radius:.6rem .6rem 0 0;}
    .single-post .content tbody tr:nth-child(odd) td:last-child{border-radius:0 0 .8rem .8rem;}
    .single-post .content .card tbody tr:nth-child(odd) td:last-child{border-radius:0 0 .6rem .6rem;}
}

@media(min-width:768px){
    .title-section > .publicate-date_widget{margin-bottom:0;}
    .title-section .share-social{position:absolute; right:0; bottom:4rem;}
}

@media (min-width:1024px){
    .single-post .content tbody tr:nth-child(odd) td:first-child{border-radius:.8rem 0 0 .8rem;}
    .single-post .content tbody tr:nth-child(odd) td:last-child{border-radius:0 .8rem .8rem 0;}
    .single-post .content .card tbody tr:nth-child(odd) td:first-child{border-radius:.6rem 0 0 .6rem;}
    .single-post .content .card tbody tr:nth-child(odd) td:last-child{border-radius:0 .6rem .6rem 0;}
}