/* autor */
.author-post{display:grid; align-items:center; grid-template-columns:3.6rem 1fr; grid-column-gap:1.8rem;}
.author-post img{grid-row:1/3; border-radius:50%; background-color:var(--color-link);}
.author-post .author-name{align-self:flex-end;line-height:1.6;}
.author-post .author-ocupation{align-self:baseline; grid-column:2/3; font-size:1.4rem; opacity:.5;}

/* fecha de publicación */
.publicate-date_widget{display:flex; align-items:center; gap:.7rem;}

/* botones de compartir */
.share-social p{display:flex; align-items:center; gap:3rem;}
.share-social p a{display:flex; color:var(--color-text);}

/* etiquetas */
aside .tags{display:inline-flex; flex-wrap:wrap; gap:.5rem 1.5rem;}
aside .tags a:before{content:'#';}

/* etiquetas en archive */
.post .tags{display:inline-flex; flex-wrap:wrap; gap:.5rem 1rem;}
.post .tags a{font-size:1.3rem; color:#fff; background-color:var(--background-color-tag-archive); padding:.5rem 1rem; transition:all .3s ease;}
.post .tags a:focus{box-shadow:none; filter:brightness(1.5);}

/* color de los links en categorías y en archivos */
aside :is(.categories,.archive-list-widget) ul li a{color:var(--color-main);}
aside :is(.categories,.archive-list-widget) ul li a:hover{color:var(--color-link);}
aside :is(.categories,.archive-list-widget) ul li a:focus{color:var(--color-link-focus);}

/* últimos artículos & artículos relacionados & address */
:is(.latest-posts_widget,.related-posts_widget) > *:not(:last-child){margin-bottom:2rem;}
.related-posts_widget .post{position:relative; min-height:100px; border-radius:.8rem; overflow:hidden; display:grid; align-content:end;}
.related-posts_widget .post:before{position:absolute; width:100%; height:100%; content:''; background:var(--background-gradient); z-index:1;}
.related-posts_widget .post .thumbnail{position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.related-posts_widget .post > div{position:relative; padding:1rem; z-index:2;}
.related-posts_widget .post .permalink{display:inline;}
.related-posts_widget .post .permalink h4{color:#fff; font-size:1.6rem; display:inline;}
.latest-posts_widget .post .thumbnail{border-radius:.4rem; object-fit:cover; float:left; margin-right:2rem; position:relative; top:5px;}
.latest-posts_widget .post :is(.permalink,.permalink h4){display:inline;}
.latest-posts_widget .post .permalink, address ul li a{color:var(--color-main);}
.latest-posts_widget .post .permalink:hover, address ul li a:hover{color:var(--color-link);}
#contact-group address ul li a:hover{color:greenyellow;}

/* últimos comentarios */
aside .latest-comments-list li:first-child{padding-top:0;}
aside .latest-comments-list li{height:auto; padding:1rem 0; gap:2rem; align-items:flex-start; font-size:1.4rem;}
aside .latest-comments-list li:last-child{padding-bottom:0;}
aside .latest-comments-list li img{background-color:var(--color-link); border-radius:50%;}
aside .latest-comments-list li b{margin-right:.7rem;}
aside .latest-comments-list li a{display:inline;}

/* dirección */
address{font-style:inherit;}
address div:nth-child(3){margin-top:5rem;}
.address li:nth-child(3){gap:.7rem;}
.address li:nth-child(n+4){padding-left:2.4rem;}