/* sidebar widgets · generales */
aside{display:grid; gap:3rem; align-content:flex-start;}
aside .widget{border:2px solid var(--wp--preset--color--border); padding:2.8rem; border-radius:.2rem;}
aside .widget > :not(:last-child){margin-bottom:2rem;}
aside .widget h2{font-size:2rem;}
aside .widget p{line-height:1.5; font-size:1.6rem;}
aside .widget .social .menu li a{border-radius:0;}

/* nube de etiquetas */
aside .tags div{display:inline-flex; flex-wrap:wrap; gap:.7rem;}
aside .tags div a{
    display:inline-flex;
    background: transparent;
    font-weight:500;
    border: 1px solid #e5e5e5;
    color: var(--wp--preset--color--text);
    border-radius: .15rem;
    padding: .6rem 1rem .5rem;
    -webkit-transition: all .15s;
    transition: all .3s ease;
}
aside .tags div a:hover{border-color:var(--wp--preset--color--yellow); background-color:var(--wp--preset--color--yellow);}

/* boletín de noticias */
main aside .newsletter{text-align:center; background-color:#f5f5f5; border-color:#f5f5f5;}
main aside .newsletter h2{font-size:2.4rem; padding-top:.6rem;}
main aside .newsletter p{font-size:1.5rem;}
main aside .newsletter .tnp-subscription{margin:0;}
main aside .newsletter .tnp-subscription .tnp-field{margin-bottom:0;}
main aside .newsletter .tnp-subscription form{grid-template-columns:1fr; gap:1.6rem!important;}
main aside .newsletter .tnp-subscription form input[type=email]{border-color:#ced4da!important;}
main aside .newsletter .tnp-subscription form input[type=submit]{width:100%;}

/* Últimos artículos */
main aside .latest-posts .title-wrapper{padding-bottom:1rem;} 
main aside .latest-posts .post{display:grid; grid-template-columns:9rem 1fr; grid-template-rows:auto auto; gap:0 1.6rem;}
main aside .latest-posts .post .thumbnail{width:9rem; height:7rem; object-fit:cover; grid-row:1/3;}
main aside .latest-posts .post .permalink{color:var(--wp--preset--color--text); grid-row:1/2; transition:all .3s ease;}
main aside .latest-posts .post .permalink:hover{color:var(--wp--preset--color--links);}
main aside .latest-posts .post .permalink h4{font-weight:400;}
main aside .latest-posts .post .publicate-date_widget{grid-row:2/3; font-size:1.3rem; color:var(--wp--preset--color--attenuated); margin-top:.2rem;}